<template>
  <diV>
    <input v-model="quickSearch" placeholder="quicksearch">
    <div id="table" v-if="!loader">
      <DataTableHeader :headers="headers" v-bind:sortBy.sync="sortBy"></DataTableHeader>
      <DataTableElement
        v-for="rowElement in filteredElements"
        :key="rowElement.id"
        :headers="headers"
        :rowElement="rowElement"
      ></DataTableElement>
    </div>
    <div class="loader" v-if="loader">Loading data...</div>
  </diV>
</template>

<script>
import DataTableHeader from "./dataTableHeader";
import DataTableElement from "./dataTableElement";

export default {
  name: "DataTable",
  props: ["headers", "data", "loader"],
  components: { DataTableHeader, DataTableElement },
  data() {
    return {
      sortBy: {
        key: undefined,
        reverse: false
      },
      quickSearch: ""
    };
  },
  computed: {
    sortedElements() {
      const sortBy = this.sortBy;
      if (!this.data || !sortBy.key) {
        return this.data;
      }

      let sortedElements = this._.sortBy(this.data, [
        function(element) {
          return element[sortBy.key];
        }
      ]);

      return sortBy.reverse ? sortedElements : sortedElements.reverse();
    },
    filteredElements() {
      const quickSearch = this.quickSearch;
      return this._.filter(this.sortedElements, function(element) {
        let joinedElement = "";
        Object.keys(element).forEach(function(key) {
          joinedElement += element[key];
        });

        return joinedElement.toLowerCase().indexOf(quickSearch.toLowerCase()) > -1;
      });
    }
  }
};
</script>

<style lang="scss">
#table {
  display: table;

  width: 100%;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 760px) {
  body {
    padding: 0;
  }

  #table {
    display: block;
    margin: 44px 0 0 0;
  }
}
</style>
