<template>
  <div class="row">
    <input type="radio" name="expand">
    <span
      class="cell"
      v-bind:class="{ primary: key === 'id' }"
      v-for="(headerName, key) in headers"
      :key="headerName"
      :data-label="headerName"
      v-on:click="handleCellClick(key, rowElement[key])"
    >
      <input
        class="editCell"
        v-show="key === editCell.key"
        v-model="editCell.data"
         @keyup.enter="onSubmitCell"
      >
      <span v-show="key !== editCell.key">{{ rowElement[key] }}</span>
    </span>
  </div>
</template>

<script>
export default {
  name: "DataTableElement",
  props: ["headers", "rowElement"],
  data() {
    return {
      editCell: {
        key: null,
        data: null
      }
    };
  },
  methods: {
    handleCellClick(key, elementData) {
      this.editCell = {
        key,
        data: elementData
      };
    },
    onSubmitCell() {
      this.$store.dispatch("updatePayment", {
        _id: this.rowElement._id,
        editCell: this.editCell
      });
      this.editCell = {
        key: null,
        data: null
      }
    }
  }
};
</script>

<style lang="scss">
.editCell {
  width: 100%;
}
.row {
  display: table-row;
}

.caption {
  display: block;
  width: 100%;
  background: #64e0ef;
  height: 55px;
  padding-left: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 55px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.cell {
  display: table-cell;

  padding: 6px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.primary {
  text-align: left;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

@media only screen and (max-width: 760px) {
  .row {
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
  }

  .caption {
    position: fixed;
    top: 0;
    text-align: center;
    height: 44px;
    line-height: 44px;
    z-index: 5;
    border-bottom: 2px solid #999;
  }

  .cell {
    display: block;

    border: none;
    position: relative;
    height: 45px;
    line-height: 45px;
    text-align: left;
  }

  .primary:after {
    content: "";
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
  }

  .cell:nth-of-type(n + 2) {
    display: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: block;
    position: absolute;
    z-index: 1;
    width: 99%;
    height: 100%;
    opacity: 0;
  }

  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    z-index: -1;
  }

  input[type="radio"]:checked ~ .cell,
  input[type="checkbox"]:checked ~ .cell {
    display: block;

    border-bottom: 1px solid #eee;
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n + 2),
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n + 2) {
    background: #e0e0e0;
  }

  input[type="radio"]:checked ~ .cell:nth-of-type(n + 2):before,
  input[type="checkbox"]:checked ~ .cell:nth-of-type(n + 2):before {
    content: attr(data-label);

    display: inline-block;
    width: 60px;
    background: #999;
    border-radius: 10px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: white;
  }

  input[type="radio"]:checked ~ .primary,
  input[type="checkbox"]:checked ~ .primary {
    border-bottom: 2px solid #999;
  }

  input[type="radio"]:checked ~ .primary:after,
  input[type="checkbox"]:checked ~ .primary:after {
    position: absolute;
    right: 18px;
    top: 22px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ccc;
    z-index: 2;
  }
}
</style>
