<template>
  <div class="header-row">
    <span
      class="cell noselect"
      v-bind:class="{ sorted: key === sortBy.key }"
      v-for="(headerName, key) in headers"
      :key="headerName"
      v-on:click="handleSort(key)"
    >
      {{ headerName }}
    </span>
  </div>
</template>

<script>
export default {
  name: "DataTableHeader",
  props: ["headers", "sortBy"],
  methods: {
    handleSort(sortBy) {
      this.sortBy.key = sortBy;
      this.sortBy.reverse =
        this.sortBy.key === sortBy ? !this.sortBy.reverse : false;
    }
  }
};
</script>

<style lang="scss">
.header-row {
  background: #8b8b8b;
  color: #fff;
  display: table-row;
}

.sorted {
  color: rgb(240, 189, 166);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


@media only screen and (max-width: 760px) {
  .header-row {
    display: none;
  }
}
</style>
