<template>
  <div id="app">
    <DataTable
      :headers="dataTable.headers"
      :data="paymentsList"
      :loader="paymentsLoading"
    ></DataTable>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DataTable from "@/components/dataTable";
export default {
  name: "app",
  components: { DataTable },
  data() {
    return {
      dataTable: {
        headers: {
          id: "ID",
          name: "Name",
          description: "Description",
          date: "Date",
          amount: "Amount"
        }
      }
    };
  },
  computed: {
    ...mapState({
      paymentsList: state => state.payments.all,
      paymentsLoading: state => state.payments.fetching
    })
  },
  created: function() {
    this.$store.dispatch("getAllPayments");
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
